button {
	border: none;
	border-radius: 4px;
}

.blue {
	background-color: rgba(95, 147, 252, 0.3);
}

.red {
	background-color: rgba(229, 50, 44, 0.3);
}

.green {
	background-color: rgba(104, 187, 75, 0.3);
}

.white {
	background-color: rgba(219, 221, 224, 0.3);
}

.yellow {
	background-color: rgba(250, 187, 43, 0.3);
}
