@import "src/assets/styles/global.scss";

header#edit-header {
	@include row;
	width: 100%;
	justify-content: space-between;

	p {
		font-size: 22px;
		color: $dark-blue-color;
	}

	::ng-deep {
		.ant-breadcrumb-separator {
			margin: 0 2px;
		}

		.ant-breadcrumb > nz-breadcrumb-item {
			font-size: 12px;
			color: $breadcrumb-grey;
		}
	}

	div:last-child {
		@include row;

		::ng-deep {
			button {
				margin-left: 32px;
			}
		}
	}
}

main {
	@include row;
}
