@import "src/assets/styles/global.scss";

nz-tabset.user-tab {
	@include tab;
	min-width: 946px;
	min-height: 800px;
}

header.user-tab-header {
	@include tab-header;

	p:first-child {
		color: $blue-color;
		font-size: 18px;
		font-weight: 500;
		margin-left: 4px;
	}

	p {
		margin: 0;
		align-self: center;

		> span {
			color: $dark-blue-color;
			font-size: 18px;
			font-weight: 400;
		}
	}

	p {
		margin: 0;
		align-self: center;

		> b {
			margin-left: 8px;
			font-weight: 400;
		}
	}
}
