<nz-layout class="app-layout">
	<nz-sider class="menu-sidebar"
	          nzCollapsible
	          nzWidth="276px"
	          nzBreakpoint="md"
	          [nzCollapsedWidth]="88"
	          [(nzCollapsed)]="isCollapsed"
	          [nzTrigger]="null">
		<div class="header-trigger" (click)="isCollapsed = !isCollapsed">
			<img src="/assets/icons/menu-rectangle-grey.svg" alt=""/>
			<img src="/assets/icons/menu-rectangle-grey.svg" alt=""/>
			<img src="/assets/icons/menu-rectangle-yellow.svg" alt=""/>
		</div>
		<ul class="side-menu" nz-menu nzMode="inline">
			<li class="date-time-container">
				<ng-container *ngIf="!isCollapsed">
					<p>thursday</p>
					<p>24 december</p>
				</ng-container>
				<ng-container *ngIf="isCollapsed">
					<p>24</p>
					<p>12</p>
				</ng-container>
				<p>2020</p>
			</li>
			<li id="user-menu">
				<div class="header">
					<svg-icon src="/assets/icons/user-tool.svg"></svg-icon>
					<span [class]="isCollapsed ? 'hidden' : ''">users</span>
				</div>
				<ul [class]="isCollapsed ? 'hidden' : ''">
					<li routerLink="/user/list" routerLinkActive="active">users list</li>
					<li routerLink="/user/edit" routerLinkActive="active">user edit</li>
					<li routerLink="/user/manage" routerLinkActive="active">roles and permissions</li>
					<li routerLink="/user/settings" routerLinkActive="active">settings</li>
				</ul>
			</li>
		</ul>
	</nz-sider>
	<nz-layout>
		<nz-header>
			<ul id="header-info">
				<li>
					<p>active</p>
					<strong>245</strong>
				</li>
				<li>
					<p>blocked</p>
					<strong>245</strong>
				</li>
				<li>
					<p>confirmed</p>
					<strong>245</strong>
				</li>
			</ul>
			<div>
				<user-notification-bar></user-notification-bar>
				<user-profile-bar></user-profile-bar>
			</div>
		</nz-header>
		<nz-content>
			<div class="inner-content">
				<router-outlet></router-outlet>
			</div>
		</nz-content>
	</nz-layout>
</nz-layout>
