@import "src/assets/styles/global.scss";

nz-tabset.user-tab {
	@include tab;
	margin-left: 18px;
	min-width: 630px;
	min-height: 800px;

	section:first-child {
		@include row;
		border-bottom: 1px solid #dbdde0;

		div:first-child {
			padding-right: 41px;
		}
	}

	h1 {
		font-size: 16px;
		color: $dark-blue-color;
		margin: 0 0 27px;
		font-weight: 400;
	}

	.select {
		margin-top: 33px;

		nz-select {
			max-width: 264px;
		}
	}

	nz-form-item {
		@include col;
		display: block;
		max-width: 264px;

		input {
			height: 36px;
			width: 264px;
			border-radius: 4px;
		}
	}

	::ng-deep {
		nz-form-label > label {
			margin-left: 10px;
			font-size: 11px;
			height: auto;
			text-transform: capitalize;
		}

		.ant-upload {
			border: 1px solid rgb(217, 217, 217);
		}

		.ant-upload-btn {
			padding: 0;
			background: #fff;
		}

		.ant-upload-drag-container {
			padding: 28px 36px;
		}

		.ant-upload-drag-icon {
			height: 22px;
			margin-bottom: 10px;
		}

		.ant-upload-text {
			height: 13px;
			text-transform: capitalize;
			font-size: 12px;
			color: $blue-color;
			text-decoration: none solid rgb(94, 146, 252);
		}

		.ant-upload-hint {
			font-size: 11px;
			color: $grey-color;
		}

		.ant-upload.ant-upload-drag {
			margin-top: 46px;
			width: 264px;
			height: auto;
		}

		.ant-picker {
			width: 264px;
		}
	}
}

section#contact-info {
	margin-top: 19px;
	display: flex;
	flex-direction: row;

	div:nth-child(2) {
		margin-top: 52px;
		padding-left: 41px;
	}
}
