$black-color: #252629;
$grey-color: #9b9fa8;
$blue-color: #5e92fc;
$dark-blue-color: #325395;
$red-color: #e5322c;
$yellow-color: #fabb2b;
$green-color: #68bb4b;

$button-grey: #6e7c98;
$background-grey: #f3f4f5;
$breadcrumb-grey: #6a6d75;
$border-grey: rgba(0, 0, 0, 0.04);

$menu-item-color: #6a6d75;

@mixin row {
	display: flex;
	flex-direction: row;
}

@mixin col {
	display: flex;
	flex-direction: column;
}

@mixin tab {
	border-radius: 2px;

	::ng-deep {
		.ant-tabs-nav {
			margin: 0;
			padding-left: 37px;
			border-top: 1px solid #f0f0f0;
			border-left: 1px solid #f0f0f0;
			border-right: 1px solid #f0f0f0;
		}

		.ant-tabs-tab:first-child {
			margin-right: 78px;
		}

		.ant-tabs-tab-btn {
			font-size: 12px;
			color: $grey-color;
		}

		.ant-tabs-tab.ant-tabs-tab-active  {
			.ant-tabs-tab-btn {
				color: $black-color;
			}
		}

		.ant-tabs-content-holder {
			padding: 16px;
			border: 1px solid #dbdde0;
		}
	}
}

@mixin tab-header {
	@include row;
	padding-bottom: 25px;
	justify-content: space-between;
	border-bottom: 1px solid #f0f0f0;
}

::ng-deep {
	input, .ant-picker {
		outline: 0;
		border: 2px solid #dbdde0;
		padding-left: 10px;
	}
}

.select {
	@include col;
	font-size: 10px;

	b {
		margin-left: 10px;
		font-weight: 400;
	}

	::ng-deep {
		.ant-select-multiple .ant-select-selector {
			padding: 3px 7px;
			max-height: 38px;
			border: 2px solid #dbdde0;
		}
	}
}

nz-select {
	width: 350px;
}

button {
	outline: 0;
	cursor: pointer;
}
